<div class="row">

    <div class="col-lg-6">
        <h1>Flash Fiction Scraper</h1>
    </div>


<!-- 

    - button to scrape more articles
    - when all articles have been scraped, show message

    - save button next to each article
    - when clicked, saved button becomes green check mark
    - toggle saved button to unsave articles

    -->

    <div class="col-lg-6">
        <button class="btn">Scrape Stories</button>
        <div id="article-container">
            <ul>
                <li>
                    {{#each articles}}
                    <img src={{this.image}}>
                    <h3 href={{this.link}}>{{this.title}}</h3>
                    <h6>{{this.author}}</h6>
                    <p>{{this.summary}}</p>
                </li>
            </ul>
        </div>
    </div>

</div>